<nav class="navbar navbar-default navbar-fixed-top">
  <div class="nav-limit">
    <a class="navbar-brand logo" href="/">
      <img src="/assets/img/home-nav-logo.png" alt="web logo">
    </a>
    <a class="btn write-btn" target="_blank" routerLink="/creation" role="button">
      <i class="iconfont icon-iconfontwrite"></i>写文章
    </a>

    <div *ngIf="!user">
      <a class="btn sign-up" routerLink="/register" role="button">注册</a>
      <a class="btn log-in" routerLink="/login" role="button">登录</a>
    </div>

    <div *ngIf="user" class="btn-group navbar-avatar">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{ this.envImgUrl + this.user.avatarUrl }}" alt="avatar image">
      </button>
      <ul class="dropdown-menu">
        <!--<li><a [routerLink]="['/management', 42] [queryParams]="{username: 'true'}"><i class="fa fa-user-secret"></i> 个人主页</a></li>-->
        <li><a [routerLink]="['/management/article/published']"><i class="fa fa-user-secret"></i> 个人主页</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a (click)="exit()"><i class="iconfont icon-hkquit"></i> 退出</a></li>
      </ul>
    </div>
    <div class="nav-center">
      <ul class="nav nav-tabs">
        <li>
          <a class="btn" href="#"><i class="fa fa-navicon"></i> 首页 <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="btn" href="#"><i class="fa fa-download"></i> 下载App</a>
        </li>
        <li>
            <div class="navbar-home-search">
              <input type="text" class="form-control" placeholder="Search">
              <a class="search-btn" ><i class="fa fa-search fa-lg"></i></a>
            </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
