<div class="creation-article">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav-limit">
      <a class="navbar-brand logo" href="/">
        <img src="/assets/img/home-nav-logo.png" alt="web logo">
      </a>
      <div class="container">
        <div class="create-title">写文章</div>
      </div>
      <div class="btn-group create-release"  [ngClass]="{'open': showImageNav}">
        <button class="btn btn-default" type="button" [disabled]="article.id > 0" (click)="showImageNav = !showImageNav">发布</button>
        <ul class="dropdown-menu">
          <li>
            <input type="radio" name="commentFlag" [(ngModel)]="commentFlag" value="yes"> 允许
            <input type="radio" name="commentFlag" [(ngModel)]="commentFlag" value="no"> 不允许
          </li>
          <li>
            <button class="btn btn-default" type="button" (click)="publishArticle()">确认发布</button>
          </li>
        </ul>
      </div>

      <button type="button" class="btn btn-default create-save" (click)="saveArticle()">保存</button>
    </div>
  </nav>

  <div class="layout-main">
    <div [ngClass]="{'show': showWarningContent, 'hidden': !showWarningContent}" class="creation-warning">
      <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning </strong> {{ warningContent }}
      </div>
    </div>
    <div class="creation-title">
      <div id="creation-title" class="title romove-outline" contenteditable placeholder="请输入标题" (keyup)="bindTitle($event)" (keydown)="stopDefaultBehavior($event)">{{ editTitle }}</div>
    </div>
    <div class="creation-write">
      <div id="creation-write"></div>
      <span [ngClass]="{'hidden': hideContentPlaceholder}">开始你的分享</span>
    </div>
  </div>
</div>
