<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav-limit">
      <a class="navbar-brand logo" href="/">
        <img src="/assets/img/home-nav-logo.png" alt="web logo">
      </a>
      <div class="container">
        <div class="create-title">写文章</div>
      </div>
      <button type="button" class="btn btn-default create-release">发布</button>
      <button type="button" class="btn btn-default create-save">保存</button>
    </div>
  </nav>

  <div class="row">
    <div class="col-xs-12">
      <div class="layout-main">
        <div class="creation-title">
          <div class="title romove-outline" contenteditable placeholder="请输入标题" (keydown)="stopDefaultBehavior($event)"></div>  
        </div>
        <div class="creation-write">
          <div id="creation-write"></div>
          <span [ngClass]="{'hidden': !showContentPlaceholder}">开始你的分享</span>
        </div>
      </div>
    </div>
  </div>
</div>
