<div class="creation-article">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav-limit">
      <a class="navbar-brand logo" href="/">
        <img src="/assets/img/home-nav-logo.png" alt="web logo">
      </a>
      <div class="container">
        <div class="create-title">写文章</div>
      </div>
      <button type="button" class="btn btn-default create-release">发布</button>
      <button type="button" class="btn btn-default create-save" (click)="saveArticle()">保存</button>
    </div>
  </nav>

  <div class="layout-main">
    <div [ngClass]="{'show': showWarningContent, 'hidden': !showWarningContent}" class="creation-warning">
      <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning </strong> {{ warningContent }}
      </div>
    </div>
    <div class="creation-title">
      <div id="creation-title" class="title romove-outline" contenteditable placeholder="请输入标题" (keyup)="bindTitle($event)" (keydown)="stopDefaultBehavior($event)">{{ editTitle }}</div>
    </div>
    <div class="creation-write">
      <div id="creation-write"></div>
      <span [ngClass]="{'hidden': hideContentPlaceholder}">开始你的分享</span>
    </div>
  </div>
</div>
