nav {
  padding: 0;
  z-index: 99999;
  .nav-limit {
    position: relative;
    min-width: 768px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .logo {
    float: left;
    height: 56px;
    padding: 0;
    img {
      height: 56px;
    }
  }
  .container {
    height: 56px;
    line-height: 56px;
    .create-title {
      font-size: large;
      font-weight: 800;
      margin-left: 10%;
      opacity: 0.6;
    }
  }
  .create-release {
    position: absolute;
    right: 0px;
    top: 12px;
  }

  .create-save {
    position: absolute;
    right: 100px;
    top: 12px;
  }
}

.layout-main {
  top:150px;
  width: 90%;
  min-width: 666px;
  margin: 47px auto 0;
  position: relative;
  .creation-title {
    margin-bottom: 15px;
    .title{  
        width: 100%;  
        min-height: 44px;  
        /*设置最小高度*/  
        margin-left: auto;  
        margin-right: auto;  
        font-size: 32px;
        line-height: 1.4;
        font-weight: 600;
        word-wrap: break-word;  
        overflow-x: hidden;  
        overflow-y: auto;  
    }  
    .title:empty::before {  
        color:#b2a9a9;  
        content:attr(placeholder);  
    }  
  }
  .creation-write {
    position: relative;
    span {
      position: absolute;
      top: 45px;
      left: 3px;
      opacity: 0.4;
    }
  }
}
