.layout-main {
  top: 60px;
  width: 776px;
  margin: 47px auto 0;
  position: relative;
  .article {
    .title {
      word-break: break-word!important;
      word-break: break-all;
      margin: 20px 0 0;
      font-size: 34px;
      font-weight: 700;
      line-height: 1.3;
      font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    }
    .article-likes {
      
      height: 40px;
      font-size: 15px;
      line-height: 40px;
      border-radius: 20px;
      margin: 9px 5px 0 15px;
      width: 100px;
      cursor: pointer;
      color: #fff;
      background-color: #ea6f5a;
      text-align: center;
    }
  }
}
