<div class="container">
  <app-navbar></app-navbar>
</div>
<div class="layout-main">
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <div class="editContainer">
    <form [formGroup]="personalInfoForm">
      <div class="form-group editItem">
        <div class="row avatar">
          <div class="col-xs-2">
            <div class="avatarImg">
              <img src="{{ this.envImgUrl + this.user.avatarUrl }}"  alt="avatar image">
            </div>
            <!--<div class="avatarImg" *ngIf="!imgData.image">
              <!--<img src="{{ this.envImgUrl + this.user.avatarUrl }}" alt="avatar image">
              <img src="/assets/img/show.jpg" alt="avatar image">
            </div>-->
          </div>
          <div class="col-xs-10">
            <div class="btn btn-info file-upload" [ngClass]="{'hidden': updateAvatarImgState == 'start'}">
               <input class="file-btn"  type="file" (change)="fileChangeListener($event)" accept="image/*" >
              更改头像
            </div>
            <button type="button" class="btn btn-info file-loading" [ngClass]="{'hidden': updateAvatarImgState == 'end'}">头像上传中
              <i class="fa fa-spinner fa-spin"></i>
            </button>
            <img-cropper #cropper class="hidden" [image]="imgData" [settings]="cropperSettings"></img-cropper>
          </div>
        </div>
      </div>
      <div class="form-group editItem">
        <div class="row">
          <div class="col-xs-2">昵称</div>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="alias" formControlName="alias">
          </div>
        </div>
      </div>
      <div class="form-group editItem">
        <div class="row">
          <div class="col-xs-2">性别</div>
          <div class="col-xs-10">
            <label><input type="radio" formControlName="sex" value="1">先生</label>
            <label><input type="radio" formControlName="sex" value="2">女士</label>
            <label><input type="radio" formControlName="sex" value="0">保密</label>
          </div>
        </div>
      </div>
       <div class="form-group editItem">
        <div class="row">
          <div class="col-xs-2">手机</div>
          <div class="col-xs-10">
            <input type="number" class="form-control" id="phone" formControlName="phone">
          </div>
        </div>
      </div>
      <div class="form-group editItem">
        <div class="row">
          <div class="col-xs-2">电子邮箱</div>
          <div class="col-xs-10">
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
        </div>
      </div>
      <div class="form-group editItem">
        <div class="row motto">
          <div class="col-xs-2">座右铭</div>
          <div class="col-xs-10">
            <textarea class="form-control"  id="motto" formControlName="motto" placeholder="编辑您的座右铭"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group editItem">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-10">
            <button type="button" class="btn btn-info" (click)="submit()">保存</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
