.layout-main {
  top: 50px;
  width: 73%;
  min-width: 1100px;
  margin: auto;
  position: relative;
  .article-item {
    margin: 6px 0 5px 0;
    width: 776px;
    a {
      text-decoration: none
    }
    .item-foot {
      color: #999;
      font-weight: 400;
      margin-top: 8px;
      .deleteLink {
        cursor: pointer;
      }
      .operate-bull {
        padding: 0 3px;
        color: #AAA;
      }
    }
    +.article-item {
      border-top: 1px solid #eee;
    }
  }
}
