<div class="container">
  <app-navbar></app-navbar>
</div>
<div class="layout-main">
  <div class="row">
    <div class="col-xs-12">
      <div class="article-item-list">
        <div *ngFor="let item of dispalyList;" class="article-item" id="article-{{item.articleId}}">
          <div class="author">
            <a class="avatar" target="_blank" routerLink="../article/published">
              <!--<img src="/assets/img/authorImg.png">-->
              <img *ngIf="!!item.avatarUrl" src="{{ this.envImgUrl + item.avatarUrl }}" alt="avatar image">
            </a>
            <div class="info">
                <!--<a class="nickName" target="_blank" routerLink="">username</a>-->
                <a class="nickName" target="_blank" routerLink="">{{ item.userName }}</a>
                <span class="time">{{item.displayUpdateTime}}</span>
            </div>
          </div>
          <div class="item-content">
            <div class="txt" [ngClass]="{'has-img': !!item.firstImg}">
              <h2 class="title">
                <a [routerLink]="['/show', item.articleId]" >{{ item.title }}</a>
              </h2>
              <p class="indentTwo" *ngIf="!!item.firstImg">{{ item.displayContextTxt | omit: 100}}</p>
              <p class="indentTwo" *ngIf="!item.firstImg">{{ item.displayContextTxt | omit: 120}}</p>
            </div>
            <div *ngIf="!!item.cropperImg" class="img">
              <a target="_blank" [routerLink]="['/edit/article', item.articleId]">
                <img [src]="item.cropperImg">
              </a>
            </div>
          </div>
          <div class="content-actions">
            <button type="button" class="btn btn-default">
              <a [routerLink]="['/show', item.articleId]" target="_blank"><i class="fa fa-thumbs-o-up"> {{ item.displayLikes }}</i></a>
            </button>
            <button type="button" class="btn btn-default">
                <a [routerLink]="['/show', item.articleId]" target="_blank"><i class="fa fa-eye"> {{ item.displayReadVolumes }}</i></a>
            </button>
            <button type="button" class="btn btn-default"><i class="fa fa-comments-o"> {{ item.displayComments }} 条评论</i></button>
            <button type="button" class="btn btn-default"><i class="iconfont icon-share"> 分享</i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-star-o"> 收藏</i></button>
            <button type="button" class="btn btn-default">收起 <i class="fa fa-angle-up"></i></button>
          </div>
        </div>
      </div>
      <div class="over" [ngClass]="{'hidden': this.hasDataLoad}">已加载完，敬请期待...</div>
    </div>
 </div>   
</div>
