.navbar.navbar-fixed-top {
	border-width: 0 0 1px 0;
	border-style: solid;
}

.navbar-default {
    background-color: #fff;
    border-color: #f0f0f0;
}

nav {
	@mixin log-nav-btn {
	    float: right;
	    height: 40px;
	    font-size: 15px;
	    line-height: 24px;
	    border-radius: 20px;
	    margin: 9px 5px 0 15px;
	};
	padding: 0;
	.nav-limit {
		min-width: 768px;
	    max-width: 1440px;
	    margin: 0 auto;
	}
	.logo {
		float: left;
		height: 56px;
		padding: 0;
		img {
			height: 56px;
		}
	}
	.log-in {
		@include log-nav-btn;
		color: #969696;
		&:hover {
			color: red;
		}
	}
	.sign-up {
		@include log-nav-btn;
	    width: 80px;
	    color: #ea6f5a;
	    border: 1px solid rgba(236,97,73,.7);
	    background-color: transparent;
	    &:hover {
	    	background-color: #f55b5b21;
	    };
	}
	.write-btn {
		@include log-nav-btn;
	    width: 100px;
	    color: #fff;
	    background-color: #ea6f5a;
	}

  .navbar-home-search {
      position: relative;
      input {
        @keyframes searchLength {
          from { width: 200px }
          to { width: 300px }
        }

        @keyframes search {
          from { width: 300px }
          to { width: 200px }
        }
        width: 200px;
        border-radius: 100px;
        animation: search 0.8s;
        animation-fill-mode: forwards;
        +a {
          position: relative;
          width: 25px;
          height: 25px;
          right: 35px;
          color: #c1c5c4;
          cursor: pointer;
          text-align: center;
          background-color: white;
          display: inline-block;
          border-radius: 100px;
        };
        &:focus {
          border-color: #c1c5c4;
          box-shadow: none;
          animation: searchLength 0.8s;
          animation-fill-mode: forwards;
        };
      }
  }
}
