<div class="login">
	<div class="loginContainer">
		<div class="loginContent">
			<div class="loginFlowHeader">
				<h1 class="title">分享生活</h1>
				<span class="slogen">登录分享, 源于生活</span>
			</div>
			<div class="loginFlowBody">
				<form [formGroup]="loginInfo" novalidate #loginform>
			      <div [ngClass]="{'hidden': !check.phone, 'show': check.phone}" class="form-group">
			        <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="手机号" (blur)="blurEvent('phone')">
			      </div>
			      <div *ngIf="!check.phone" class="form-group">
			        <input type="text" class="form-control error" value="输入手机号" (focus)="focusEvent('phone')">
			      </div>

			      <div [ngClass]="{'hidden': !check.password, 'show': check.password}" class="form-group">
			        <input type="password" class="form-control" id="password" formControlName="password" placeholder="输入密码" (blur)="blurEvent('password')">
			      </div>
			      <div *ngIf="!check.password" class="form-group">
			      	<input type="text" class="form-control error" value="输入密码" (focus)="focusEvent('password')">
			      </div>

			      <button type="submit" class="btn Button--primary Button--blue Register-submitButton" (click)="clientLogin()">登录</button>
			    </form>
			</div>
			<div class="loginFlowFoot">
				没有帐号？ <span routerLink="/register">注册</span>
			</div>
		</div>
	</div>
</div>
