/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.Button--primary.Button--blue {
    color: #fff;
    background-color: #0084ff;
    &:hover {
    	color: #fff;
    }
}

.Register-getIn, .Register-submitButton {
    width: 100%;
    margin-top: 30px;
    height: 36px;
}

.navbar.navbar-fixed-top {
  border-width: 0 0 1px 0;
  border-style: solid;
}

.navbar-default {
    background-color: #fff;
    border-color: #f0f0f0;
}
