/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';

h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-size: 14px;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.Button--primary.Button--blue {
    color: #fff;
    background-color: #0084ff;
    &:hover {
    	color: #fff;
    }
}

.Register-getIn, .Register-submitButton {
    width: 100%;
    margin-top: 30px;
    height: 36px;
}

.navbar.navbar-fixed-top {
  border-width: 0 0 1px 0;
  border-style: solid;
}

.navbar-default {
    background-color: #fff;
    border-color: #f0f0f0;
}

.romove-outline {
    border: none;
    outline: none;
}

#creation-write {
    .w-e-toolbar {
        border-left: 0 !important;
        border-right: 0 !important;
        background-color: #fff !important;
    }
    .w-e-text-container {
        border: 0 !important;
        min-height: 300px !important;
        height: auto !important;
        z-index: 100 !important;
        .w-e-text {
            padding: 0px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}
