.layout-main {
  top: 70px;
  width: 1000px;
  margin: auto;
  position: relative;
  .personal-info {
    .img {
      padding: 0px;
    }
    .img-avatar {
      width: 150px;
      height: 150px;
    }
    .info {
      top: 50px;
      .personal-header {
        .name {
          font-size: xx-large;
          font-weight: 700;
        }
        .motto {
          color: #e56666;
          margin-left: 10px;
        }
        button {
          margin: 34px 80px 0 0;
        }
      }
      .info {
        ul {
          li {
            display: inline-block;
            border-right: 1px solid #eee;
            line-height: 20px;
            padding: 1px 15px 1px 5px;
            a {
              color: #b2aeae;
              &:hover, &:focus {
                color: #787777;
                text-decoration: none;
              }
              p {
                color: #555;
                margin: 0px
              }
            }
          }
        }
      }
    }
  }
  .category {
    position: relative;
    margin-left: 0px;
    top: 25px;
    .category-navbar {
      padding-left: 0px;
      border-bottom: 1px solid #e9e6e6;
      .btn-group {
        .dropdown-menu {
          top: 94%;
          min-width: 130px;
        }
      }
    }
    .btn-navbar {
      color: #b2aeae;
      width: 120px;
      border: none;
      border-bottom: 2px solid #fff;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      font-weight: 600;
      &:hover {
        color: #2b2727;
        background-color: #fff;
        border-bottom: 2px solid #b2aeae;
      }
      &:focus {
        outline: none;
        background-color: #fff;
      }
    }
  }
  .handle {
    position: relative;
    top: 35px;
  }
  .article-item {
    margin: 6px 0 5px 0;
    a {
      text-decoration: none
    }
    .item-content {
      img {
        display:block;
        margin: 6px 0;
        overflow: hidden;
        width: 200px;
        height: auto;
      }
    }
    .item-foot {
      color: #999;
      font-weight: 400;
      margin-top: 8px;
      .deleteLink {
        cursor: pointer;
      }
      .operate-bull {
        padding: 0 3px;
        color: #AAA;
      }
    }
    +.article-item {
      border-top: 1px solid #eee;
    }
  }
}

.delete-article-modal-footer {
  border-top: 0;
}
