<div class="container">
  <app-navbar></app-navbar>
</div>
<div class="layout-main">
  <div class="row personal-info">
    <div class="col-xs-2 img">
      <img src="../../assets/img/show.jpg" alt="avatar image" class="img-thumbnail img-circle img-avatar">
    </div>
    <div class="col-xs-10 info">
      <div class="personal-header">
        <h1 class="pull-left">Chup</h1>
        <button type="button" class="btn btn-info pull-right"><i class="fa fa-info-circle"></i> 个人信息编辑</button>
      </div>
    </div>
  </div>
  <div class="row category">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">文章</a></li>
        <li role="presentation"><a href="#">图片</a></li>
        <li role="presentation"><a href="#">视频</a></li>
      </ul>
  </div>
  <div class="row handle">
    <div class="col-xs-8">
      <div class="nav-dev">
          <ul class="nav nav-tabs">
            <li role="presentation"><a href="#">草稿</a></li>
            <li role="presentation" class="active"><a href="#">已发布</a></li>
            <li role="presentation"><a href="#">回收站</a></li>
          </ul>
      </div>
      <app-draft-list></app-draft-list>
    </div>
    <div class="col-xs-4">
      右边部分
    </div>
  </div>
</div>
