<div class="container">
  <app-navbar></app-navbar>
</div>
<div class="layout-main">
  <div class="row personal-info">
    <div class="col-xs-2 img">
      <img *ngIf="!this.user.avatarUrlBase64" src="{{ this.envImgUrl + this.user.avatarUrl }}" alt="avatar image" class="img-thumbnail img-circle img-avatar">
      <!-- 上传头像时，使用本地base64数据 -->
      <img *ngIf="!!this.user.avatarUrlBase64" src="{{ this.user.avatarUrlBase64 }}" alt="avatar image" class="img-thumbnail img-circle img-avatar">
    </div>
    <div class="col-xs-10 info">
      <div class="personal-header">
        <span class="name">{{ this.user.name }}</span>
        <span class="motto">{{ this.user.motto }}</span>
        <a routerLink="/personal/infomation">
          <button type="button" class="btn btn-info pull-right">
              <i class="fa fa-info-circle"></i> 个人信息编辑
          </button>
        </a>
      </div>
      <div class="info">
        <ul>
          <li><a href="#">
              <p>20</p>关注 <i class="fa fa-info-circle"></i>
          </a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row category">
    <div class="col-xs-8 category-navbar">
      <div class="btn-group" (mouseenter)="showArticleNav = true" (mouseleave)="showArticleNav = false" [ngClass]="{'open': showArticleNav}">
        <button class="btn btn-default btn-lg btn-navbar" type="button">文章</button>
        <ul class="dropdown-menu" (click)="showArticleNav = false">
          <li><a routerLink="./article/published">已发布</a></li>
          <li><a routerLink="./article/draft">草稿</a></li>
          <li><a routerLink="./article/recycle">回收站</a></li>
        </ul>
      </div>
      <div class="btn-group" (mouseenter)="showImageNav = true" (mouseleave)="showImageNav = false" [ngClass]="{'open': showImageNav}">
        <button class="btn btn-default btn-lg btn-navbar" type="button">图片</button>
        <ul class="dropdown-menu" (click)="showImageNav = false">
          <li><a routerLink="./image/published">已发布</a></li>
          <li><a routerLink="./image/draft">草稿</a></li>
          <li><a routerLink="./image/recycle">回收站</a></li>
        </ul>
      </div>
      <div class="btn-group" (mouseenter)="showVideoNav = true" (mouseleave)="showVideoNav = false" [ngClass]="{'open': showVideoNav}">
        <button class="btn btn-default btn-lg btn-navbar" type="button">视频</button>
        <ul class="dropdown-menu" (click)="showVideoNav = false">
          <li><a routerLink="./video/published">已发布</a></li>
          <li><a routerLink="./video/draft">草稿</a></li>
          <li><a routerLink="./video/recycle">回收站</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row handle">
    <div class="col-xs-8">
      <!--<router-outlet></router-outlet>-->
      <app-show-list></app-show-list>
    </div>
    <div class="col-xs-4">
      右边部分
    </div>
  </div>
</div>
